*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
		--fs-sm: clamp(0.81rem, 0.06cqi + 0.8rem, 0.84rem);
		--fs-base: clamp(1rem, 0.22cqi + 0.95rem, 1.13rem);
		--fs-md: clamp(1.23rem, 0.46cqi + 1.13rem, 1.5rem);
		--fs-lg: clamp(1.52rem, 0.83cqi + 1.33rem, 2rem);
		--fs-xl: clamp(1.88rem, 1.37cqi + 1.57rem, 2.66rem);
		--fs-xxl: clamp(2.32rem, 2.15cqi + 1.83rem, 3.55rem);
		--fs-xxxl: clamp(2.86rem, 3.27cqi + 2.12rem, 4.73rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
		--fs-sm: 0.81rem;
		--fs-base: 1rem;
		--fs-md: 1.23rem;
		--fs-lg: 1.52rem;
		--fs-xl: 1.88rem;
		--fs-xxl: 2.32rem;
		--fs-xxxl: 2.86rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
			--fs-sm: 0.84rem;
			--fs-base: 1.13rem;
			--fs-md: 1.5rem;
			--fs-lg: 2rem;
			--fs-xl: 2.66rem;
			--fs-xxl: 3.55rem;
			--fs-xxxl: 4.73rem;
    }
  }
}

/* Fuentes */

.ltrs-sm{
  font-size: var(--fs-sm);
}
.ltrs-base{
  font-size: var(--fs-base);
}
.ltrs-md{
  font-size: var(--fs-md);
}
.ltrs-lg{
  font-size: var(--fs-lg);
}
.ltrs-xl{
  font-size: var(--fs-xl);
}
.ltrs-xxl{
  font-size: var(--fs-xxl);
}
.ltrs-xxxl{
  font-size: var(--fs-xxxl);
}
.ltrs-bld{
  font-weight: bold;
}
.a{
  text-decoration: none;
}

/* Colores de fuente */
.ltrs-blanco{
  color: #fff;
}
/* Colores de fuente Fin */


html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-pagination {
      min-width: 90%;
      height: 30px;
      display: flex;
      gap: 25px;
      justify-content: space-evenly;
    }

    .swiper-pagination-bullet {
      width: 10%;
      min-width: 200px;
      height: 100%;
      border-radius: 1px;
      padding: 5px;
      text-align: center;    
      font-size: var(--fs-base);
      opacity: 1;
      background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
      color: #fff;
      background: #007aff;
    }

    .swiper-button-prev{
      position: absolute;
      bottom: 5px;
    }

    .slider{
        width: 100%;
        background-position: center;
        background-size: cover;
        display: grid;
        place-items: center;
    }

    .inner-slider{
      width: 100%;
      display: grid;
      justify-items: center;
    }

    .title-juego{
      width: 90%;
    }

    .parrafo-juego{
      width: 90%;
    }

    .second-banner{
      position: relative;
      background-image: url('https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7u0o3i84kn2M0zywawe5fA/7619c18f6e094c41d6ce0c862b1255be/Ubidotcom-Secondary_Ubisoft__XDefiant-S01_June24_1920x680_desk_Nologo.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height:280px;
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ubi-plus-img{
      position: absolute;
      top: 0;
      left: 0;
      max-width: 150px;
      z-index: 100;
    }

    .ubi-plus-img.grande{
      max-width: 250px;
    }

    .inner-second-banner{
      display: grid;
      justify-items: center;
      gap: 25px;
    }

    .btn-prim{
      display: flex;
      height: 50px;
      padding-inline: 15px ;
      border-radius: 30px;
      align-items: center;
    }

    .btn-fucc{
      background-color: rgb(197, 21, 130);
    }