:root {
  --color-fucc: rgb(197, 21, 130);
  --color-black: rgb(20, 19, 19);
  --color-gold: rgb(186, 129, 0);
  --color-orange: rgb(249, 67, 8);
  --color-blue: rgb(1, 106, 164);
  --color-turquesa: rgb(0, 124, 124);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --fs-sm: clamp(0.81rem, 0.06cqi + 0.8rem, 0.84rem);
    --fs-base: clamp(1rem, 0.22cqi + 0.95rem, 1.13rem);
    --fs-md: clamp(1.23rem, 0.46cqi + 1.13rem, 1.5rem);
    --fs-lg: clamp(1.52rem, 0.83cqi + 1.33rem, 2rem);
    --fs-xl: clamp(1.88rem, 1.37cqi + 1.57rem, 2.66rem);
    --fs-xxl: clamp(2.32rem, 2.15cqi + 1.83rem, 3.55rem);
    --fs-xxxl: clamp(2.86rem, 3.27cqi + 2.12rem, 4.73rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --fs-sm: 0.81rem;
    --fs-base: 1rem;
    --fs-md: 1.23rem;
    --fs-lg: 1.52rem;
    --fs-xl: 1.88rem;
    --fs-xxl: 2.32rem;
    --fs-xxxl: 2.86rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --fs-sm: 0.84rem;
      --fs-base: 1.13rem;
      --fs-md: 1.5rem;
      --fs-lg: 2rem;
      --fs-xl: 2.66rem;
      --fs-xxl: 3.55rem;
      --fs-xxxl: 4.73rem;
    }
  }
}

/* Fuentes */

.ltrs-sm {
  font-size: var(--fs-sm);
}
.ltrs-base {
  font-size: var(--fs-base);
}
.ltrs-md {
  font-size: var(--fs-md);
}
.ltrs-lg {
  font-size: var(--fs-lg);
}
.ltrs-xl {
  font-size: var(--fs-xl);
}
.ltrs-xxl {
  font-size: var(--fs-xxl);
}
.ltrs-xxxl {
  font-size: var(--fs-xxxl);
}
.ltrs-bld {
  font-weight: bold;
}
.a {
  text-decoration: none;
}

/* Colores de fuente */
.ltrs-blanco {
  color: #fff4f4;
}

.ltrs-negras{
  color:#252525
}
/* Colores de fuente Fin */

.flex {
  display: flex;
  gap: 15px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  min-width: 90%;
  height: 30px;
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
}

.swiper-pagination-bullet {
  width: 10%;
  min-width: 200px;
  height: 100%;
  border-radius: 1px;
  padding: 5px;
  text-align: center;
  font-size: var(--fs-base);
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/* Estilos de los botones */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 90%;
  background-color: rgba(255, 255, 255, 0.137);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 30px 40px 30px 40px;
  transition: background-color 0.5s ease;
}
/* Estilos de posicionamiento */
.swiper-button-prev {
  left: 0;
  border-radius: 0 25px 25px 0;
}
/* Estilos de posicionamiento */
.swiper-button-next {
  right: 0;
  border-radius: 25px 0 0 25px;
}
/* Hover de los botones laterales */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.39);
}

.slider {
  width: 100%;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.inner-slider {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 10%;
}

.title-juego {
  width: 90%;
}

.parrafo-juego {
  width: 90%;
}

.second-banner {
  position: relative;
  background-image: url("https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7u0o3i84kn2M0zywawe5fA/7619c18f6e094c41d6ce0c862b1255be/Ubidotcom-Secondary_Ubisoft__XDefiant-S01_June24_1920x680_desk_Nologo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 280px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ubi-plus-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 150px;
  z-index: 100;
}

.ubi-plus-img.grande {
  max-width: 250px;
}

.inner-second-banner {
  display: grid;
  justify-items: center;
  gap: 25px;
}

/* Botones */

/* Estilo principal del boton */
.btn-prim {
  position: relative;
  display: flex;
  height: 50px;
  padding-inline: 15px;
  border-radius: 30px;
  align-items: center;
  overflow: hidden;
}

.btn-prim::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  scale: 0;
  transition: background-color 0.4s ease, scale 0.2s ease-in-out;
}

.btn-prim:hover::after {
  display: block;
  background-color: #f1f1f1f1;
  scale: 1;
}

.btn-prim span {
  display: flex;
  z-index: 2;
}

.btn-prim:hover > span {
  transition: color 1s;
}

/* Clases de los colores */
.btn-fucc {
  background-color: var(--color-fucc);
}.btn-fucc:hover > span {
  color: var(--color-fucc);
}

.btn-black {
  background-color: var(--color-black);
}.btn-black:hover > span {
  color: var(--color-black);
}

.btn-gold {
  background-color: var(--color-gold);
}.btn-gold:hover > span {
  color: var(--color-gold);
}

.btn-orange {
  background-color: var(--color-orange);
}.btn-orange:hover > span {
  color: var(--color-orange);
}

.btn-blue {
  background-color: var(--color-blue);
}.btn-blue:hover > span {
  color: var(--color-blue);
}

.btn-turquesa {
  background-color: var(--color-turquesa);
}.btn-turquesa:hover > span {
  color: var(--color-turquesa);
}
/* Hasta aqui las Clases de los colores de los botones */

/* Segundo carrusel */


.cont-cartas-juegos{
  width: 80%;
  padding-bottom: 5%;
}

.carta-juegos{  
  gap: 7px;
}

.caratula-juego{
  aspect-ratio: 3/4;
  object-fit: cover;
  min-width: 200px;
  width: 30%;
  max-width: 280px;
}

.sect{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px 0;  
}

/* .centered-btn{
  position: absolute;
  bottom: 5%;
} */


/* Seccion de noticias */

.notis{
  display: flex;
  justify-content: center;
  padding: 15px 0;
  gap: 15px;
  list-style: none;
}

.notis .notis-items:hover a{
  color: #302a2ace;
  text-shadow: #252525 .1px .2px 3px;
}

.cont-articulos{
  width: 82%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  
  @media (width < 1400px) {
     grid-template-columns: repeat(2,1fr);
     
  @media (width < 800px) {
     grid-template-columns: repeat(1,1fr);
  }
  }

  
}

.articulos-cards{
  display: flex;  
  gap: 10px;
  width: 100%;
  min-width: 380px;
  max-width: 500px;
}

.articulos-cards .img-articulos-cards{
  width: 50%;
  object-fit: cover;
}
/* Estilos para la primera noticia */
.articulos-cards:first-child{
  flex-direction: column;
  grid-row: span 2;
}
.articulos-cards:first-child .img-articulos-cards{
  width: 100%;
}

.articulos-cards:hover div a {
  text-decoration:underline;
}

/* Ubisoft Store */

.cont-ubistore{
  width: 82%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  @media (width < 780px) {
    grid-template-columns: repeat(1,1fr);
  }
}
.ubistore-card{
  position: relative;
  aspect-ratio: 4.2/5;
  overflow: hidden;
}
.ubistore-card img{
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.ubistore-card a{
  width: 100%;
  padding: 0 5%;
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 3;
}